In [17]:
from ipywidgets import widgets
import numpy as np  
import matplotlib.pyplot as plt
import pandas

In [ ]:
%matplotlib inline

In [ ]:
@widgets.interact
def graph(x=10, y=2):
    x = np.array(range(x))
    y = x ** y
    plt.plot(x, y) 
    plt.show()

In [26]:
df = pandas.DataFrame(
    np.random.randn(100, 3)
)

In [28]:
df.loc[:10].transpose()

,0,1,2,3,4,5,6,7,8,9,10
0,0.591995,0.289414,-0.721760,-1.532654,0.087293,1.647716,0.791623,1.065535,1.084021,-0.270130,0.177516
1,-1.981231,1.118829,0.850972,-0.812461,-1.264004,0.627541,-1.691652,1.169119,0.234231,0.468026,0.957634
2,-0.227616,-0.762221,-0.774823,-0.380973,1.364077,0.249065,0.673082,-0.408153,0.459497,0.407810,1.187938

In [32]:
df.loc[-10:].transpose()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.591995,0.289414,-0.721760,-1.532654,0.087293,1.647716,0.791623,1.065535,1.084021,-0.270130,...,0.152247,0.113599,-0.183696,-0.470457,1.047787,0.547081,0.138050,0.836084,0.059379,0.312678
1,-1.981231,1.118829,0.850972,-0.812461,-1.264004,0.627541,-1.691652,1.169119,0.234231,0.468026,...,0.324411,-0.853700,-0.352378,1.020087,-0.420836,-1.224148,-0.436380,0.984874,0.307486,0.422397
2,-0.227616,-0.762221,-0.774823,-0.380973,1.364077,0.249065,0.673082,-0.408153,0.459497,0.407810,...,0.613646,-1.190392,-1.238844,0.958741,0.051721,-0.319834,-0.042724,1.478835,-1.864071,-0.516011